h1 {
  color: rgb(31, 1, 59);
}
body {
  background-color: azure;
  color: black;
}
p {
  background-color: beige;
}
.A {
  color: brown;
}
.B {
  color: brown;
}
.C {
  color: brown;
}
.D {
  color: brown;
}
.E {
  color: brown;
}
